doctype html

html
  head
    title Sobanko
    link(rel='stylesheet', href='static/css/bundle.css')
  body
    #game-container
      canvas
      #menu.buttons
        button#undo(type='button') Undo
        button#restart(type='button') Restart
        button#back(type='button') Back
      #boxes
        span#boxes-count
        | #{' '}/#{' '}
        span#destination-count
        | #{' '}boxes
      #moves
        span#moves-count
        | #{' '}moves
      #best
        | Your best:#{' '}
        span#best-count

    #start-screen
      h1 Sobanko
      #levels

    #win-screen
      h1 Good job!
      h4#win-moves
        | You've finished in#{' '}
        span#win-moves-count
        | #{' '}moves
      h5#win-best
        | You've beaten your previous best score!
      button#back-to-level-select(type='button') Back

    #restart-screen
      .dialog
        h3 Do you really want to restart and lose your progress?
        .buttons
          button#restart-cancel(type='button') Cancel
          button#restart-ok(type='button') OK

    script(src='static/js/bundle.js')
