doctype html

html
  head
    title Sobanko
    link(rel='stylesheet', href='static/css/bundle.css')
  body
    #game-container
      canvas
      #menu
        #undo.button Undo
        #back.button Back
      #moves
        span#moves-count
        | #{' '}moves
      #boxes
        span#boxes-count
        | #{' '}/#{' '}
        span#destination-count
        | #{' '}boxes

    #start-screen
      h1 Sobanko
      #levels

    #win-screen
      h1 Good job!
      h4#win-moves
        | You've finished with#{' '}
        span#win-moves-count
        | #{' '}moves!
      #back-to-level-select.button Back

    script(src='static/js/bundle.js')
