doctype html

html
  head
    title Sobanko
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='bundle.css')
  body
    #game-container
      #info
        .buttons
          button#undo(type='button') Undo
          button#restart(type='button') Restart
          button#back(type='button') Back
        #info-rows
          .info-row
            span#boxes-count
            | #{' '}/#{' '}
            span#destination-count
            | #{' '}boxes
          #moves.info-row
            span#moves-count
            | #{' '}moves
          #best.info-row
            | Your best:#{' '}
            span#best-count
      #canvas-container
        canvas
      #mobile-controls
        #direction
          #up
          #down
          #left
          #right
        #pulling

    #start-screen
      .flex-padding
      #logo-container
        include sobanko.jade
      #levels
      .flex-padding

    #win-screen
      h2 Good job!
      h4#win-moves
        | You've finished in#{' '}
        span#win-moves-count
        | #{' '}moves
      #win-best You've beaten your previous best score!
      br
      .buttons
        button#back-to-level-select(type='button') Back
        button#next-level(type='button') Next level

    #restart-screen
      .dialog
        div Do you really want to restart and lose your progress?
        br
        .buttons
          button#restart-cancel(type='button') Cancel
          button#restart-ok(type='button') OK

    script(src='bundle.js')
